.container{
    background-color: coral;
    border:1px solid black;
    font-family: sans-serif;
    padding: 10px;
    display: flex;
    flex-direction:row;
    /* flex-wrap:wrap; */
    height:500px;
    /* justify-content:space-between; */
    align-items:center;
}

.item{
    border: 1px solid black;
    padding: 10px;
    background-color: cornflowerblue;
}