/* Base styles extra small devices - mobile  */
/* CSS rulea */

html{
  font-size: 14px;
}

body{
  font-size: 1rem;
  padding:0;
  margin: 0;
  color:#444;
  font-family: 'Roboto',sans-serif ;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  font-family: 'Inter', sans-serif ;
}

h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.75rem;}
h6{font-size: 1rem;}

a{
  text-decoration: none;
  color:#3882F6;
}
a:hover, a:focus{
  color:#5979ec;
}
h1 {
  text-align: center;
  margin: 10px 0;
}

#simple-logo{
  display: none;
}

#banner{
  object-fit:cover;

  height: 150px;
  width: 100%;
}
#about {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 8px;
}
#description {

  font-size: 1.25rem;
}
#team{
  width: 100%;
}
#team-image {
  border-radius: 5px;
  width: 100%;
}
h2 {
  text-align: center;
}
#jobs {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;
}


#jobs-table{
  display: none;
}

#jobs-list{
  display: block;
}
.job{
  border: 1px solid #dddddd;
  margin-top: 8px;
  border-radius: 5px;
  padding: 8px;
}
.job-title{
  font-size: 1.25rem;
  font-weight:500;
  color:#222;
}

.job-detail{
  margin-top: 4px;
  color: #555;
}

#application {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;
}

.form-group {
  margin: 16px 0;
}

#form-group label {
  font-weight: 600;
}

.form-group input, select, textarea {
  padding: 8px;
  width: 90%;
  font-size: 1.25rem;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group textarea {
  font-family: 'Roboto', sans-serif;
}

.form-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.form-group input[type="submit"] {
  background-color: #3B82F6;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

#footer {
  background-color: #DFFAFA;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}

#footer-links {
  list-style: none;
  padding-left: 0px;

}

#footer-links li {
  display:block;
  margin: 8px 16px;
}

.copyright {
  color: #71717A;
  font-size: 0.875rem;
} 


/* Small devices ( tablets ) */
@media screen and (min-width:576px) {
  /* CSS rules */
  html{
    font-size: 16px;
  }
  #simple-logo{ 
    display: block;
  }
  #banner{
     height: 200px;
  }
  h1 {
    margin: 12px 0;
}
.form-group input, select{
  max-width: auto;
}
.form-group textarea{
  width:80%;
}
#footer-links li{
  display:inline;
}
}
/* Medium devices (laptop) */
@media screen and (min-width:768px) {
  html{ 
    font-size: 18px;
  }
  #banner{
    height: 200px;
 }
 h1 {
  margin: 16px 0;
}
#about{
  max-width: 800px;
  flex-direction: row;
}
#description {
  width: 50%;
  padding-right: 8px;
  font-size: 1.25rem;
}
#team {
  width: 50%;
}
#jobs {
  max-width: 800px;
}


#jobs-list{
  display: none;
}

#jobs-table {
  display: table;
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}

.jobs-header-row th {
  border: 1px solid gray;
  padding: 8px;
  background-color: #BFDBFE;
  text-align: center;
  color: #222222;
}

.jobs-data-row td {
  border: 1px solid gray;
  padding: 8px;
}

#jobs-table tr:nth-child(odd) {
  background-color: #EFF6FF;
}
#application{
  max-width: 800px;
}
}

/* large devices (Desktops) */
@media screen and (min-width:992px){
  html{
    font-size: 20px;
  }
  #banner{
    height: 250px;
 }
}

/* Extra large TV */
@media screen and (min-width:1200px) {
  html{
    font-size: 22px;
  }
  #banner{
    height: 300px;
 }
}

/*















